/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -61px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  border-top: 1px solid #D4D4D4;

}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#footer .container {
  text-align: center;
  width: auto;
  max-width: 680px;
}

.container .credit {
  margin: 20px 0;
}

.basic {
  text-align: center;
}

.text{
  font-size: 26px;
  margin-top: 25px;
  padding-left: 140px;
  line-height: 70px;
}

button#start{
  width: 30px;
  height: 25px;
  float: right;
}

.ui-slider .ui-slider-handle {
  height: 1.9em;
}

/* Styles for Calendar */

  body th{
    font-size: 10px;
  }

.tile:hover{
  opacity: 0.4
}

#calendar  #tiles .tile {
    height: 25px;
    position: relative;
    width: 25px;
    border-radius: 4px;
  }

#calendar2  #tiles .tile {
    height: 30px;
    position: relative;
    width: 45px;
    border-radius: 8px;
  }

  #calendar, #calendar2 {
    margin-bottom: 30px;
  }

  .RdYlGn .q0-11{background:rgb(165,0,38)}
  .RdYlGn .q1-11{background:rgb(215,48,39)}
  .RdYlGn .q2-11{background:rgb(244,109,67)}
  .RdYlGn .q3-11{background:rgb(253,174,97)}
  .RdYlGn .q4-11{background:rgb(254,224,139)}
  .RdYlGn .q5-11{background:rgb(255,255,191)}
  .RdYlGn .q6-11{background:rgb(217,239,139)}
  .RdYlGn .q7-11{background:rgb(166,217,106)}
  .RdYlGn .q8-11{background:rgb(102,189,99)}
  .RdYlGn .q9-11{background:rgb(26,152,80)}
  .RdYlGn .q10-11{background:rgb(0,104,55)}

.Greens .q0-9{background:rgb(247,252,245)}
.Greens .q1-9{background:rgb(229,245,224)}
.Greens .q2-9{background:rgb(199,233,192)}
.Greens .q3-9{background:rgb(161,217,155)}
.Greens .q4-9{background:rgb(116,196,118)}
.Greens .q5-9{background:rgb(65,171,93)}
.Greens .q6-9{background:rgb(35,139,69)}
.Greens .q7-9{background:rgb(0,109,44)}
.Greens .q8-9{background:rgb(0,68,27)}
.Greens .q8-9{background:rgb(0,68,27)}

.year {
  font-size: 20px;
  margin-top: 25px;
}

#legend {
    color: #777777;
    font-size: 11px;
    overflow: hidden;
}

#legend ul {
  list-style-type: none;
  overflow: hidden;
  clear: both;
}

#legend li {
  float: left;
  margin-right: 1px;
  width: 22.5px;
  height: 20px;
  margin-top: 10px;
}

#legend p {
  margin-top: 3px;
}

#legend p.more {
  float: right;
}

#legend p.middle {
  float: left;
  margin-left: 50px;
}

#legend p.less {
  float: left;
  margin-left: 20px;
}

  .gallery-item {
    font-size: 16px;
    list-style-type: none;
    opacity: 0.7;
  }

.gallery-item:hover {
  opacity: 1;
}
  .item-image {
    height: 200px;
}

  .gallery-description {
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .gallery li {
    list-style-type: none;
  }

  li.row {
    margin-left: -45px;
  }

  .content {
    margin-top: 30px;
  }

.projects-list li{
  list-style-type: none;
  display: inline;
  margin-left: 6px;
  color: #444;
}

.projects-list {
  margin-bottom: 20px;
}

.projects-list li a{
  color: #444;
  text-decoration: underline;
  opacity: 1;
}

.projects-list li a:hover {
  color: #0088CC;
}
.projects-list .row{
  margin-left: -45px;
}

.cis {
  margin-top: 10px;
}