body {
  font: 10px sans-serif;
  padding-top: 40px !important; 
}
/*
.navbar .brand {
margin-left: 0px !important;
}*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
  font-size: 15px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.data-point {
  stroke: steelblue;
  stroke-width: 2;
  fill: #FFF;
}

svg {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 9px 9px 9px 9px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.y.axis {
  font-size: 15px;
}

.graphs div {
}