body {
  font: 10px sans-serif;
  padding-top: 40px !important;
  height: none !important; 
}
/*
.navbar .brand {
margin-left: 0px !important;
}*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis{
  font-size: 15px;
}

.y.axis {
font-size: 15px;
}

.x.axis {
  opacity: 0.5;
}

.y.axis path{
  opacity: 0.5 !important;
 }


.y.axis g{
  opacity: 0.5 !important;
 }

.ylabel {
  fill: steelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.data-point {
  stroke: steelblue;
  stroke-width: 2;
  fill: #FFF;
}

svg {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 9px 9px 9px 9px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-right: 5px;
    width: 100%;
}

.intro {
  margin-top: 50px;
}

#footer .container {
  text-align: center;
  width: auto;
  max-width: 680px;
}

.container .credit {
  margin: 20px 0;
}

.basic {
  text-align: center;
}

.text{
  font-size: 26px;
  margin-top: 25px;
  padding-left: 140px;
  line-height: 70px;
}

#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  border-top: 1px solid #D4D4D4;

}