body {
	padding-top: 0px !important;
}
.x.axis{
  font-size: 15px;
}

.y.axis {
font-size: 10px;
}

.bar{
    fill: #000000;
    opacity: 0.2;
    z-index: 0;
}

.line {
	z-index: 100;
}

svg {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 9px 9px 9px 9px;
    margin-top: 10px !important;
    margin-bottom: 10px;
    width: 100%;
}

.controls {
	margin-top: 20px;
}

.label {
	width: 140px;
	cursor: pointer;
}

